---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
PackConstructorInitializers: NextLine
Standard: C++23
---